<section class="text-gray-600 body-font">
  <h1 class="text-4xl font-bold text-center text-gray-800 my-6">Explore Events</h1>
  <div class="py-8 mx-auto max-w-[1300px]">
    <div class="flex flex-wrap -m-4">
    
      <div class="listing p-2 md:w-1/3 cursor-pointer">
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
            <a href="#">
                <img class="rounded-t-lg" src="https://eventspacesny.com/wp-content/uploads/2023/07/Best-dinner-Venues.jpg" alt="" />
            </a>
            <div class="p-5">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Dinner Party Venues</h5>
                </a>
            </div>
        </div>
      </div>

      <div class="listing p-2 md:w-1/3 cursor-pointer">
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
            <a href="#">
                <img class="rounded-t-lg" src="https://eventspacesny.com/wp-content/uploads/2023/07/Best-birthday-party-Venues.jpg" alt="" />
            </a>
            <div class="p-5">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Birthday Parties Venues</h5>
                </a>
            </div>
        </div>
      </div>

      <div class="listing p-2 md:w-1/3 cursor-pointer">
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
            <a href="#">
                <img class="rounded-t-lg" src="https://eventspacesny.com/wp-content/uploads/2023/07/Best-WEDDINGS-Venues.jpg" alt="" />
            </a>
            <div class="p-5">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Wedding Venues</h5>
                </a>
            </div>
        </div>
      </div>

      <div class="listing p-2 md:w-1/3 cursor-pointer">
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
            <a href="#">
                <img class="rounded-t-lg" src="https://eventspacesny.com/wp-content/uploads/2023/07/Best-MEETINGS-Venues.jpg" alt="" />
            </a>
            <div class="p-5">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Meeting Spaces</h5>
                </a>
            </div>
        </div>
      </div>

      <div class="listing p-2 md:w-1/3 cursor-pointer">
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
            <a href="#">
                <img class="rounded-t-lg" src="https://eventspacesny.com/wp-content/uploads/2023/07/Best-PERFORMANCES-Venues.jpg" alt="" />
            </a>
            <div class="p-5">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Performace Venues</h5>
                </a>
            </div>
        </div>
      </div>

      <div class="listing p-2 md:w-1/3 cursor-pointer">
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
            <a href="#">
                <img class="rounded-t-lg" src="https://eventspacesny.com/wp-content/uploads/2023/07/Best-Photo-Shoot-Venues.jpg" alt="" />
            </a>
            <div class="p-5">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Photoshoot Venues</h5>
                </a>
            </div>
        </div>
      </div>

    </div>
  </div>
</section>